 <table class="table-container table">
            <thead class="tab-header">
                <tr>
                    <th scope="col">Pathologie</th>
                    <th scope="col">Méridien</th>
                    <th scope="col">Type</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        <tbody id="table-body">
        <tr>
            <td colspan="4" style="text-align: center; font-style: italic">Lancer une recherche pour afficher le résultat ici</td>
        </tr>
        </tbody>
    </table>