<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('base/head.tpl.twig') }}
</head>
<header>
    {{ include('base/header.tpl.twig') }}
</header>
<body>
    {% block body %}
    {% endblock %}
</body>
<footer>
    {{ include('base/footer.tpl.twig') }}
</footer>
</html>