<!DOCTYPE html>
<html lang="fr">
<head>
    {{ include('base/head.tpl.twig') }}
</head>
<header>
    {{ include('base/header.tpl.twig') }}
</header>
<body id="body">
    {% block body %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</body>
<footer>
    {{ include('base/footer.tpl.twig') }}
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</html>