{% extends "base/base.tpl.twig" %}

{% block body %}

<div class="profile-form">

<form class="profile-form__container login__form" method="POST">

    <div class="login__form-main">
        <div class="profile-form__line">
            <input type="text" name="mail" id="loginMail" class="profile-form__input {{errorTitle == 'Ce mail ne correspond à aucun compte' ? '--error' : ' ' }}" placeholder="Mail" required>
        </div>

        <input type="password" name="password" id="loginPassword" class="profile-form__input {{errorTitle == 'Mot de passe incorrect' ? '--error' : ' ' }}" placeholder="Mot de passe" required>
    </div>

    <div class="login__form-foot">
        <button class="profile-form__submit-btn" type="submit">Connexion</button>
    </div>

</form>

</div>

{% if error %}
{{ include('component/toast.twig', {type: 'error', title: errorTitle, description: errorDesc}) }}
{% endif %}

{% endblock %}

{% block javascripts %}
<script src="/src/scripts/profile.js"></script>
{% endblock %}