{% extends "base/base.tpl.twig" %}

{% block body %}

<div class="profile-form">

<form class="profile-form__container login__form" action="" method="POST">

    <div class="login__form-main">
        <div class="profile-form__line">
            <input type="text" name="mail" id="loginMail" class="profile-form__input" placeholder="Mail" required>
        </div>

        <input type="password" name="password" id="loginPassword" class="profile-form__input" placeholder="Mot de passe" required>
    </div>

    <div class="login__form-foot">
        <button class="profile-form__submit-btn" type="submit">Connexion</button>
    </div>

</form>

</div>

{% endblock %}

{% block javascripts %}
<script src="/src/scripts/profile.js"></script>
{% endblock %}