{% extends "base/base.tpl.twig" %}

{% block body %}

{% if isConnected %}



<div class="profile-container">

<div class="profile">

    {% if profileEditing %}
    
    <div class="profile-header">
        {# Class = profile-edit__picture #}
        <img class="profile__picture" src="" alt="Phot de profil">
    </div>

    <div class="profile-main">

        {# Class = profile-edit__username #}
        <div class="profile__username">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Nom d'utilisateur">
        </div>

        {# Class = profile-edit__infos #}
        <div class="profile__infos">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Prénom">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Nom">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Mail">
            <input type="text" name="" id="" class="profile-form__input" placeholder="Confirmer le nouveau mail">
        </div>

    </div>

    <div class="profile-footer">
        <div class="login__form-foot">
            <button class="profile-form__submit-btn" type="submit">Enregistrer</button>
        </div>
    </div>

    {% else %}

    <div class="profile-header">
        <img class="profile__picture" src="" alt="Phot de profil">
    </div>

    <div class="profile-main">
        <div class="profile__username">
            <p>Username</p>
        </div>

        <div class="profile__infos">
            <p class="profile__infos-line">Prénom</p>
            <p class="profile__infos-line">Nom</p>
            <p class="profile__infos-line">Mail</p>
            <p class="profile__creation-date">Membre depuis Mai 2022</p>
        </div>

        <div class="profile__actions">
            <span class="profile__action-line">
                <div class="profile__action-icon"></div>
                <p class="profile__action-title">Editer mon profil</p>
            </span>
            <span class="profile__action-line">
                <div class="profile__action-icon"></div>
                <p class="profile__action-title">Modifier mon mot de passe - {{ passwordEditing }}</p>
            </span>
            <span class="profile__action-line">
                <div class="profile__action-icon"></div>
                <p class="profile__action-title">Déconnexion</p>
            </span>
        </div>
    </div>

    <div class="profile-footer">
        <p>Copyright</p>
        <p>Blablabla</p>
    </div>
       
        {% if passwordEditing %}

        <div class="pwd-edit__container">
            <div class="pwd-edit profile-form__container">

                <div class="login__form-main">

                    <div class="profile-form__line">
                        <input type="password" name="pwd-edit-old" id="pwdEditOld" class="profile-form__input" placeholder="Ancien mot de passe" required>
                    </div>
                    
                    <div class="profile-form__line">
                        <input type="password" name="pwd-edit-new" id="pwdEditNew" class="profile-form__input" placeholder="Nouveau mot de passe" required>
                    </div>
                    
                    <div class="profile-form__line">
                        <input type="password" name="pwd-edit-new" id="pwdEditNewConfirm" class="profile-form__input" placeholder="Confirmer le mot de passe" required>
                    </div>

                </div>
                
                <div class="login__form-foot">
                    <button class="profile-form__submit-btn" type="submit"></button>
                </div>
            
            </div>
        </div>

        {% endif %}

    {% endif %}

</div>

</div>

{% else %}

<div class="no-profil">

    <img class="no-profil__logo" src="src/img/logo.png" alt="Logo A.A.A.">

    <button onclick="window.location.href = '/connexion'" class="no-profil__login-btn">Se connecter</button>

    <div class="no-profil__register">
        <p>
            Pas encore membre ?
            <span onclick="window.location.href = '/inscription'" class="no-profil__link">S'inscrire maintenant!</a>
        </p>
    </div>

</div>

{% endif %}

{% endblock %}

