{% extends "base/base.tpl.twig" %}

{% block body %}

{% if isConnected %}

<div class="profil">

    <p>Profil utilisateur</p>

</div>

{% else %}

<div class="no-profil">

    <img class="no-profil__logo" src="" alt="Logo A.A.A.">

    <button onclick="window.location.href = '/connexion'" class="no-profil__login-btn">Se connecter</button>

    <div class="no-profil__register">
        <p>
            Pas encore membre ?
            <span onclick="window.location.href = '/inscription'" class="no-profil__link">S'inscrire maintenant!</a>
        </p>
    </div>

</div>

{% endif %}

{% endblock %}

