{% extends "base/base.tpl.twig" %}

{% block body %}

<div class="profile-form">

<form class="profile-form__container" action="" method="POST">

    <div class="register__form-head">

        <div>
            <div class="register__picture"></div>
        </div>

        <div class="register__form-names">
            <input type="text" name="first-name" id="" class="profile-form__input" placeholder="Prénom" required>
            <input type="text" name="last-name" id="" class="profile-form__input" placeholder="Nom" required>
            <input type="text" name="username" id="" class="profile-form__input" placeholder="Nom d'utilisateur" required>
        </div>
    </div>

    <div class="register__form-main">
        <input type="email" name="mail" id="" class="profile-form__input" placeholder="Mail" required>
        <input type="email" name="mail-confirm" id="" class="profile-form__input" placeholder="Confirmer le mail" required>

        <input type="password" name="password" id="" class="profile-form__input" placeholder="Mot de passe" required>
        <input type="password" name="password-confirm" id="" class="profile-form__input"placeholder="Confirmer le mot de pasee" required>
    </div>

    <div class="register__form-foot">
        <button class="profile-form__submit-btn" type="submit">Inscription</button>
    </div>

</form>

</div>

{% endblock %}