@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");
.notif-container {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.notif {
  z-index: 99;
  overflow-y: scroll;
  min-width: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100px;
  border: 0.5px solid #001f23;
  border-radius: 20px;
  padding: 20px;
  background-color: #89f2ff;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.notif * {
  margin: 0;
}

.notif.success {
  background-color: #aef4a0;
  border-color: #002201;
}

.notif.error {
  background-color: #ffdad6;
  border-color: #410002;
}

.notif::-webkit-scrollbar {
  width: 10px;
}

.notif::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 12px;
}

.notif::-webkit-scrollbar-thumb {
  background: #0000007c;
  border-radius: 5px;
}

.notif::-webkit-scrollbar-thumb:hover {
  background: #00000094;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

#body {
  width: 100%;
  height: 100vh;
  background-color: #ecebeb;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.row {
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
}

.icon {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.icon img, .icon svg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #ecebeb;
  font-family: "Noto sans";
}

.profile-form__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 600px;
  padding: 32px 64px;
  border-radius: 20px;
  background-color: #fff;
}

.profile-form__container::before {
  display: block;
  position: relative;
  top: -32px;
  left: -64px;
  width: calc(100% + 128px);
  height: 16px;
  border-radius: 20px 20px 0 0;
  background-color: #3a767d;
  content: "";
}

.profile-form__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}

.profile-form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1.5px solid #b7b7b7;
  border-radius: 10px;
  padding: 4px 16px;
  background: #fff;
  font-size: 16px;
  font-family: "Noto sans";
  outline: none;
}

.profile-form__input:focus {
  border: 1.5px solid #848484;
}

.profile-form__input.--error {
  border: 1.5px solid #ba1a1a;
  background: #fff2f2;
}

.profile-form__input.--error:focus {
  border: 1.5px solid #8d1414;
}

.profile-form__error {
  margin: 0;
  font-size: 13px;
  color: #ba1a1a;
}

.profile-form__submit-btn {
  padding: 8px 64px;
  border: 0;
  border-radius: 16px;
  background-color: #3a767d;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.profile-form__submit-btn:hover {
  -webkit-box-shadow: 0px 0px 10px #00000050;
          box-shadow: 0px 0px 10px #00000050;
}

.profile-form__submit-btn:active {
  background-color: #2a555a;
}

.register__form-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 32px;
}

.register__form-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 16px;
  width: 100%;
}

.register__form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  width: 100%;
  margin-bottom: 64px;
}

.register__form-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.register__picture {
  display: block;
  width: 150px;
  height: 150px;
  margin-right: 32px;
  border-radius: 150px;
  background-color: #3a767d;
}

.login__form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  width: 100%;
  margin-bottom: 32px;
}

.login__form-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.login__form .profile-form__input {
  font-size: 20px;
  text-align: center;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}

.profile {
  width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: Noto Sans, Roboto, Helvetica, sans-serif;
}

.profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.profile-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  width: 100%;
  margin-bottom: 24px;
}

.profile-footer {
  width: 100%;
  text-align: center;
}

.profile-footer p {
  margin: 0;
  font-size: 12px;
}

.profile__picture {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #3a767d;
}

.profile__username {
  width: 100%;
  border-radius: 10px;
  padding: 4px;
  background-color: #fff;
  text-align: center;
}

.profile__username p {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #393939;
}

.profile__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  padding: 0 20px;
}

.profile__infos-line {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.profile__infos .profile__creation-date {
  margin: 0;
  font-size: 12px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.profile__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  padding: 16px;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
}

.profile__action-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
          column-gap: 16px;
  padding: 8px 16px;
  border-radius: 20px;
}

.profile__action-line:hover {
  -webkit-box-shadow: 0px 0px 5px #00000025;
          box-shadow: 0px 0px 5px #00000025;
}

.profile__action-line:active {
  background-color: #00000010;
}

.profile__action-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #95959540;
}

.profile__action-title {
  margin: 0;
  font-size: 20px;
}

.no-profil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: Noto Sans, Roboto, Helvetica, sans-serif;
  background-color: #ecebeb;
}

.no-profil__logo {
  width: 200px;
  height: auto;
}

.no-profil__login-btn {
  width: 50%;
  margin-top: 32px;
  margin-bottom: 8px;
  padding: 5px;
  border: 0;
  border-radius: 15px;
  background-color: #fff;
  color: #393939;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  outline: 0;
  cursor: pointer;
}

.no-profil__login-btn:hover {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 20px #95959540;
          box-shadow: 0px 0px 20px #95959540;
}

.no-profil__login-btn:active {
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 20px #95959540;
          box-shadow: 0px 0px 20px #95959540;
}

.no-profil__register {
  color: #393939;
}

.no-profil__link {
  color: #3a767d;
  font-weight: 700;
  cursor: pointer;
}

.no-profil__link:hover {
  color: #2a555a;
  text-decoration: underline;
}

.no-profil__link:active {
  color: #1a3437;
  text-decoration: underline;
}

.pwd-edit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000050;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  margin: auto;
  padding-bottom: 20px;
}

.filter-type {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.search-badges {
  width: 80vw;
  margin: auto;
  min-height: 30px;
}

.filter-badge {
  background-color: #3A767D;
  color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  display: inline-block;
  margin: 10px 5px 10px auto;
}

.filter-badge--red {
  background-color: #ea3f3f;
}

.filter-badge--blue {
  background-color: #52aab3;
}

.filter-badge--purple {
  background-color: mediumpurple;
}

.filter-badge button {
  color: white;
}

.filter-badge button :hover {
  color: #d7df23;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-bar .search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  color: #333;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-bar .search-input ::after {
  border: none;
}

.search-bar .search-btn {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0 5px;
  cursor: pointer;
}

.search-bar .search-btn .iconfont {
  font-size: 20px;
  color: #333;
}

.search-bar .search-btn :hover {
  fill: #d7df23;
}

.search-bar :nth-child(n+4) {
  margin-right: 20px;
}

.table-container, #pathology .pathology_symptomes_table-container {
  width: 95vw !important;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

.tab-header, #pathology .pathology_symptomes_tab-header {
  background-color: #3A767D;
  width: 100%;
  color: white;
}
.tab-header th, #pathology .pathology_symptomes_tab-header th {
  padding: 5px;
}
.tab-header :nth-child(1), #pathology .pathology_symptomes_tab-header :nth-child(1) {
  border-radius: 20px 0 0 0;
}
.tab-header :last-of-type, #pathology .pathology_symptomes_tab-header :last-of-type {
  border-radius: 0 20px 0 0;
}

table {
  border-spacing: 0;
}

table td {
  padding: 10px;
}

.details-button {
  color: #3A767D;
}

.details-button :hover {
  color: #d7df23;
}

.suggests {
  width: 30%;
  left: 40%;
  position: absolute;
}

.suggests .content {
  background: #f5f5f5;
  -webkit-box-shadow: 0px 12px 15px -2px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 12px 15px -2px rgba(0, 0, 0, 0.38);
  margin: 0 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0 0 15px 15px;
  padding-bottom: 8px;
}

.suggests .content :hover {
  background-color: #dcdcdc;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.suggests .content .keyword {
  line-height: 25px;
  font-size: 18px;
  width: 100%;
  padding-left: 15px;
}

.suggests .content a {
  text-decoration: none;
  color: black;
}

#pathology {
  width: 95vw;
  height: 95vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ECEBEB;
  border: 4px solid #3A767D;
  border-radius: 10px;
  padding: 2rem;
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  z-index: 1;
}
#pathology section {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
}
#pathology #pathology_symptomes-table {
  vertical-align: inherit;
}
#pathology .pathology_symptomes_table-container {
  width: 100% !important;
}
#pathology #pathology__close {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background-color: #3A767D;
  color: white;
  border: 4px solid #3A767D;
  border-top: none;
  border-left: none;
  border-radius: 5% 0 50% 0;
  height: 4rem;
  width: 4rem;
}
#pathology #pathology__close:hover {
  background-color: #d7df23;
}

.menu-nav {
  position: fixed;
  top: 10px;
  right: 0;
  height: 50px;
  background-color: #3A767D;
  fill: white;
  border-radius: 30px 0 0 30px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 0.8em;
  z-index: 1000;
}

.menu-nav .menu-nav-content {
  display: none;
  list-style: none;
  z-index: 1000;
  padding: 10px 0;
  margin: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-nav .menu-nav-content li {
  padding: 0 10px;
  border-radius: 30px 0 0 30px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.menu-nav .menu-nav-content li:hover {
  background-color: #52aab3;
}

.menu-nav .menu-nav-content li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  text-decoration: none;
  color: white;
}

.menu-nav .menu-nav-content li a span {
  margin-right: 10px;
}

.menu-nav .menu-nav-content-icon, .menu-nav .menu-nav-content-icon svg {
  width: 50px;
  fill: white;
}

.menu-nav-icon {
  display: block;
}

.menu-nav-content--active {
  height: initial;
}

.menu-nav-content--active .menu-nav-content {
  display: block;
}

.menu-nav-content--active .menu-nav-icon {
  display: none;
}

.menu-nav-icon {
  width: 50px;
  fill: white;
  pointer-events: none;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  color: #3A767D;
}

.about-block:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #3A767D;
  color: white;
}

.about-block div {
  width: 45%;
  padding: 0 2.5vw;
}

.about-block h1 {
  font-size: 4em;
  letter-spacing: -2px;
  line-height: 100px;
  font-weight: 700;
}

.about-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-block p, .about-block li, .about-block a {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: .2px;
  margin-bottom: 10px;
}

.about-block a {
  color: inherit;
  text-decoration: none;
}

.about-block a:hover {
  color: inherit;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .about-block:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #3A767D;
    color: white;
  }
  .about-block div {
    width: 100%;
    padding: 0 5vw;
  }
  .about-block h1 {
    font-size: 2.5em;
    line-height: 50px;
  }
  .about-block p, .about-block li, .about-block a {
    font-size: 16px;
    line-height: 25px;
  }
}
/*# sourceMappingURL=main.css.map */