<div class="notif-container">
    <div class="notif {{ type == 'error' ? 'error' : ' ' }} {{ type == 'success' ? 'success' : ' ' }}">
        {% if title %}
            <p>{{ title }}</p>
        {% endif %}

        {% if description %}
            <p>{{ description }}</p>
        {% endif %}
    </div>
</div>