{# TODO: Remplir #}

{% extends "base/base.tpl.twig" %}

{% set sources = [
    {link: 'https://www.php.net/manual/fr/index.php', title: 'Documentation PHP'},
    {link: 'https://twig.symfony.com/', title: 'Documentation Twig'},
    {link: 'https://developer.mozilla.org/fr/docs/Web/JavaScript', title: 'Documentation JS'},
] %}

{% block body %}

    <div class="about-block">
        <div>
            <h1>Développements réalisés</h1>
        </div>
        <div>
        </div>
    </div>
    <div class="about-block">
        <div>
            <h1>Sources</h1>
        </div>
        <div>
            {% for source in sources %}
                <p><a target="_blank" href="{{ source.link }}">{{ source.title }}</a></p>
            {% endfor %}
        </div>
    </div>
    <div class="about-block">
        <div>
            <h1>Auteurs</h1>
        </div>
        <div>
            <ul>
                <li>Louisa Chaduc</li>
                <li>Martin Jourjon</li>
                <li>Alexis Lonchambon</li>
                <li>Mathis Medard</li>
            </ul>
        </div>
    </div>
    <div class="about-block">
        <div>
            <h1>Ressources bibliographiques</h1>
        </div>
        <div>
        </div>
    </div>
    <div class="about-block">
        <div>
            <h1>Webographie</h1>
        </div>
        <div>
        </div>
    </div>

{% endblock %}