<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oupsi - {{ title }}</title>
</head>
<body>
  <h1>Oupsi</h1>
  <h2>Erreur {{ error.code }}</h2>
    <p>{{ error.message }}</p>
</body>
</html>