#body {
  width: 100%;
  height: 100vh;
  background-color: #ecebeb;
  // font-size: 23px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.row {
  display: inline-block;
  align-content: center;
}

.icon {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  img, svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.hidden {
  display: none;
}
