.logo {
  display: flex;
  width: 150px;
  margin: auto;
  padding-bottom: 20px;
}

.filter-type {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.search-badges {
  width: 80vw;
  margin: auto;
  min-height: 30px;
}

.filter-badge {
  background-color: $primary;
  color: whitesmoke;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  display: inline-block;
  margin: 10px 5px 10px auto;

  button {
    color: white;
    :hover {
      color: $secondary;
    }
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 10px 10px;
  box-sizing: border-box;
  .search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
    box-sizing: border-box;
    ::after {
      border: none;
    }
  }
  .search-btn {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0 5px;
    cursor: pointer;
    .iconfont {
      font-size: 20px;
      color: #333;
    }
  }

  :nth-child(n+4) {
    margin-right: 20px;
  }

}

.table-container {
  width: 80vw;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

.tab-header {
  background-color: $primary;
  width: 100%;
  color: white;
  th {
    padding: 5px;
  }
  :nth-child(1) {
    border-radius: 20px 0 0 0;
  }
  :last-of-type {
    border-radius: 0 20px 0 0;
  }
}

table {
  border-spacing: 0;

  td {
    padding: 10px;
  }
}

.details-button {
  color: $primary;

  :hover {
    color: $secondary;
  }
}