<section>
    <h1>{pathology.description}</h1>
    <p>Meridien: {pathology.meridien}</p>
    <p>Type: {pathology.type}</p>
    <table class="pathology_symptomes_table-container table">
        <thead class="pathology_symptomes_tab-header">
            <tr>
                <th class="col">Symptome</th>
                <th class="col">Description</th>
                <th class="col">Mots clé</th>
            </tr>
        </thead>
        <tbody id="pathology_symptomes-table">
        </tbody>
    </table>
</section>